.RData
.Rhistory
.Rproj.user/
.Renviron
.env
renv/library/
renv/staging/

data/raw/
bancodados/
results/

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.qza
*.qzv
*.blastdb
*.log
*.html
*.pdf
*.png
*.tiff
*.svg

!README.md
!metadata/README.md
